/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	font-family: "Source Sans Pro", sans-serif;
}

/* primary hex code #FB923C */
/* secondary hex code #BAE5FD */

.bg-primary {
	background: #fb923c;
}

.bg-secondary {
	background: #bae5fd;
}

.text-primary {
	color: #fb923c;
}

.text-secondary {
	color: #bae5fd;
}
